$border-radius: 6px;
span.DataTables_sort_icon.ui-icon{
	/*display:inline-block;*/
}
div.dataTables_filter{
	/*display:inline-block;*/
}
div.dataTables_filter input{
	height:10px;
	margin-top: 10px;
}
div.dataTables_filter label{
	margin-bottom: 0px;
	margin-left: 8px;
}
.dataTables_paginate.fg-buttonset.ui-buttonset.fg-buttonset-multi.ui-buttonset-multi.paging_full_numbers .ui-button{
	margin-right: 8px;
}
.dataTables_paginate{
	/*display: inline;
float: right;*/
}
.dataTables_info{
	/*display:inline;*/
	padding-left:8px;
}
div.fg-toolbar.ui-toolbar{
	padding:10px 0;
}
.dataTables_length select{
position: static;

visibility:visible;

}
div.dataTables_wrapper .fg-toolbar:first-child{
	padding: 0;
	border-top-left-radius: $border-radius;
	border-top-right-radius: $border-radius;
}
div.dataTables_wrapper .fg-toolbar:last-child{
	border-bottom-left-radius: $border-radius;
	border-bottom-right-radius: $border-radius;
}
div.dataTables_length{
	/*display: inline-block;*/
/*float: right;*/
margin-top: 15px;
margin-right: 10px;
}
div.dataTables_length select{
	width:60px;
}
