/* line 1, ../sass/_datatables.scss */
span.DataTables_sort_icon.ui-icon {
  display: inline-block;
}

/* line 4, ../sass/_datatables.scss */
div.dataTables_filter {
  display: inline-block;
}

/* line 7, ../sass/_datatables.scss */
div.dataTables_filter input {
  height: 10px;
  margin-top: 10px;
}

/* line 11, ../sass/_datatables.scss */
div.dataTables_filter label {
  margin-bottom: 0px;
  margin-left: 8px;
}

/* line 15, ../sass/_datatables.scss */
.dataTables_paginate.fg-buttonset.ui-buttonset.fg-buttonset-multi.ui-buttonset-multi.paging_full_numbers .ui-button {
  margin-right: 8px;
}

/* line 18, ../sass/_datatables.scss */
.dataTables_paginate {
  display: inline;
  float: right;
}

/* line 22, ../sass/_datatables.scss */
.dataTables_info {
  display: inline;
  padding-left: 8px;
}

/* line 26, ../sass/_datatables.scss */
div.fg-toolbar.ui-toolbar {
  padding: 10px 0;
}

/* line 29, ../sass/_datatables.scss */
.dataTables_length select {
  position: static;
  visibility: visible;
}

/* line 35, ../sass/_datatables.scss */
div.dataTables_wrapper .fg-toolbar:first-child {
  padding: 0;
}

/* line 38, ../sass/_datatables.scss */
div.dataTables_length {
  display: inline-block;
  float: right;
  margin-top: 15px;
  margin-right: 10px;
}

/* line 44, ../sass/_datatables.scss */
div.dataTables_length select {
  width: 60px;
}

/* line 3, ../sass/styles.scss */
.base {
  background-color: #34495e;
  color: white;
}

/* line 7, ../sass/styles.scss */
.firm {
  background-color: #1abc9c;
  color: white;
}

/* line 11, ../sass/styles.scss */
.gray {
  background-color: #95a5a6;
  color: white;
}

/* line 15, ../sass/styles.scss */
.lightgray {
  background-color: #ecf0f1;
}

/* line 18, ../sass/styles.scss */
.inverse {
  background-color: white;
}

/* line 21, ../sass/styles.scss */
.success {
  background-color: #2ecc71;
  color: white;
}

/* line 25, ../sass/styles.scss */
.danger {
  background-color: #e74c3c;
  color: white;
}

/* line 29, ../sass/styles.scss */
.warning {
  background-color: #f1c40f;
  color: white;
}

/* line 33, ../sass/styles.scss */
.info {
  background-color: #3498db;
  color: white;
}
